<br>
<div class="row">
	<div class="offset1 span11">
		<h2 style="color:#c1272d">New settings</h2>
	</div>
</div>
<%= render 'form' %>

<div class="span10 offset1">
	<%= link_to 'Back', settings_path %>
</div>